altair
attrs
blinker
branca
cachetools
certifi
charset-normalizer
click
colorama
folium
gitdb
GitPython
idna
importlib-metadata
Jinja2
joblib
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
numpy
packaging
pandas
Pillow
pip==23.2.1
protobuf
pyarrow
pydeck
Pygments
Pympler
python-dateutil
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
referencing
requests
rich==13.5.2
rpds-py
scikit-learn
scipy
six
smmap
streamlit
streamlit-folium
tenacity
threadpoolctl
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
zipp
